.weather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
  align-self: center;
  width: 100%;
}

@media (max-width: 700px) {
  .weather {
    flex-direction: column;
  }

  .weather-day{
    max-width: 250px;
  }
}

.weather-all {
  display: flex;
  flex-direction: column;
}

.weather-day {
  padding: 5px;
  border: solid gray;
  border-radius: 5px;
  margin: 10px;
  min-width: 100px;
}

/* .city-btn {
    margin-left: 10px;
} */

.city-name {
  margin-right: 5px;
}

.add-city {
  display: flex;
  justify-content: center;
}
